In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import chain, combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1159,tt0263757,20000000,37095657,Uptown Girls,Brittany Murphy|Dakota Fanning|Marley Shelton|...,Boaz Yakin,They're about to teach each other how to act t...,"Molly Gunn, the freewheeling daughter of a dec...",92,Comedy,GreeneStreet Films|Metro-Goldwyn-Mayer (MGM),8/15/2003,6.2,2003
764,tt1071875,57000000,149217355,Ghost Rider: Spirit of Vengeance,Nicolas Cage|CiarÃ¡n Hinds|Violante Placido|Fe...,Mark Neveldine|Brian Taylor,He Rides Again.,When the devil resurfaces with aims to take ov...,95,Action|Fantasy|Thriller,Columbia Pictures|Imagenation Abu Dhabi FZ|Mar...,12/10/2011,4.7,2011
240,tt0361748,70000000,319131050,Inglourious Basterds,Brad Pitt|MÃ©lanie Laurent|Christoph Waltz|Eli...,Quentin Tarantino,Once upon a time in Nazi occupied France...,"In Nazi-occupied France during World War II, a...",153,Drama|Action|Thriller|War,Universal Pictures|A Band Apart|Zehnte Babelsb...,8/18/2009,7.7,2009
576,tt0232500,38000000,207283925,The Fast and the Furious,Paul Walker|Vin Diesel|Michelle Rodriguez|Jord...,Rob Cohen,Live life 1/4 mile at a time.,Domenic Toretto is a Los Angeles street racer ...,106,Action|Crime|Thriller,Universal Pictures|Original Film|Ardustry Ente...,6/22/2001,6.4,2001
1852,tt0162650,46000000,107196498,Shaft,Samuel L. Jackson|Jeffrey Wright|Christian Bal...,John Singleton,"Still the man, any questions?",New York police detective John Shaft arrests W...,99,Action|Adventure|Crime|Thriller,Paramount Pictures|Scott Rudin Productions,6/15/2000,5.3,2000

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов


# тут другие ваши предобработки колонок например:
data['profit']=data['revenue'] - data['budget']
data['release_month']= pd.DatetimeIndex(data['release_date']).month
data['original_title_length'] = data['original_title'].str.len()
data['overview_words_num'] = data['overview'].str.split().str.len()


def count_list_elements(df, column_to_split, column_to_sum='none'):
    """Считает количество вхождений в колонке со строками, разделенными '|'.
    Либо сумму значений, если указан аргумент column_to_sum
    
    Параметры:
    df - датафрейм,
    column_to_split - название столбца со значениями, разделенными '|',
    column_to_sum - колонка, по которой суммируем значения. если 'none',
    то считаем только количество вхождений
    
    Возвращает словарь с эелементами и количеством вхождений/суммой
    """
    element_dict = Counter()
    for i in df.index:
        for element in df[column_to_split].loc[i].split('|'):
            # если не указан столбец, который нужно просуммировать, считаем вхождения
            if column_to_sum == 'none': 
                element_dict[element] += 1
            else:
                element_dict[element] += df[column_to_sum].loc[i]
    return element_dict




#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'  # +
# если ответили верно, можете добавить комментарий со значком "+"

In [67]:
# тут пишем ваш код для решения данного вопроса:
data['original_title'].loc[data['budget'].idxmax()]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [71]:
# можно добавлять разные варианты решения
data['original_title'][data['budget'] == data['budget'].max()].item()

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'  # +

In [9]:
data['original_title'].loc[data['runtime'].idxmax()]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'  # +

In [11]:
data['original_title'].loc[data['runtime'].idxmin()]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. 110'  # +

In [13]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '1. 107'  # +

In [15]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = '5. Avatar (tt0499549)'  # +

In [17]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['original_title'].loc[data['profit'].idxmax()]

'Avatar'

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = '5. The Lone Ranger (tt1210819)'  # +

In [19]:
data['original_title'].loc[data['profit'].idxmin()]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1. 1478' # +

In [21]:
data['imdb_id'][data['profit'] > 0].nunique()  # считаем по imdb_id, тк есть фильмы с одинаковыми названиями

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = '4. The Dark Knight (tt0468569)'  # +

In [23]:
data['original_title'].loc[data['revenue'][data['release_year'] == 2008].idxmax()]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = '5. The Lone Ranger (tt1210819)'  # +

In [25]:
data['original_title'].loc[data['profit'][
    (data['release_year'] >= 2012) & (data['release_year'] <= 2014)
].idxmin()]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = '3. Drama'  # +

In [27]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
result_dict = count_list_elements(data, 'genres')
print(max(result_dict, key=result_dict.get))

Drama

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
answers['12'] = '1. Drama'  # +

In [29]:
result_dict = count_list_elements(data[data['profit']>0], 'genres')
print(max(result_dict, key=result_dict.get))

Drama

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [30]:
answers['13'] = '5. Peter Jackson'  # +

In [31]:
result_dict = count_list_elements(data, 'director', 'revenue')
print(max(result_dict, key=result_dict.get))

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
answers['14'] = '3. Robert Rodriguez'  # +

In [33]:
result_dict = count_list_elements(data[data['genres'].str.contains('Action')], 'director')
print(max(result_dict, key=result_dict.get))

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [34]:
answers['15'] = '3. Chris Hemsworth'  # +

In [35]:
result_dict = count_list_elements(data[data['release_year'] == 2012], 'cast', 'revenue')
print(max(result_dict, key=result_dict.get))

Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
answers['16'] = '3. Matt Damon'  # +

In [37]:
result_dict = count_list_elements(data[data['budget'] > data['budget'].mean()],'cast')
print(max(result_dict, key=result_dict.get))

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
answers['17'] = '2. Action'  # +

In [39]:
result_dict = count_list_elements(data[data['cast'].str.contains('Nicolas Cage')],'genres')
print(max(result_dict, key=result_dict.get))

Action

# 18. Самый убыточный фильм от Paramount Pictures

In [40]:
answers['18'] = '1. K-19: The Widowmaker'  # +

In [41]:
data[['original_title']].iloc[
    data['profit'][
        data['production_companies'].str.contains('Paramount Pictures')
    ].idxmin()
]

original_title    K-19: The Widowmaker
Name: 925, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [42]:
answers['19'] = '5. 2015'  # +

In [43]:
data.groupby(['release_year'])['revenue'].sum().\
    reset_index().sort_values(by='revenue', ascending=False).head(5)

    release_year      revenue
15          2015  25449202382
14          2014  23405862953
13          2013  23213799791
12          2012  23079001687
11          2011  22676791872

# 20. Какой самый прибыльный год для студии Warner Bros?

In [44]:
answers['20'] = '1. 2014'  # +

In [45]:
data[
    data['production_companies'].str.contains('Warner Bros')
].groupby(['release_year'])['profit'].sum().reset_index().\
    sort_values(by='profit', ascending=False).head(5)

    release_year      profit
14          2014  2295464519
7           2007  2201675217
8           2008  2134595031
10          2010  1974712985
11          2011  1871393682

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [46]:
answers['21'] = '4. Сентябрь'  # +

In [47]:
data.groupby(['release_month']).size().\
    reset_index(name='counts').sort_values(by='counts', ascending=False).head(5)

    release_month  counts
8               9     227
11             12     190
9              10     186
7               8     161
2               3     156

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
answers['22'] = '2. 450'  # +

In [49]:
data['imdb_id'][data['release_month'].isin([6,7,8])].nunique()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [50]:
answers['23'] = '5. Peter Jackson'  # +

In [51]:
result_dict = count_list_elements(data[data['release_month'].isin([12,1,2])], 'director')
print(max(result_dict, key=result_dict.get))

Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [52]:
answers['24'] = '5. Four By Two Productions'  # +

In [53]:
# получаем словарь со списком студий и количеством фильмов
film_num_dict = count_list_elements(data, 'production_companies')
# получаем словарь со списком студий и общей длиной названий
title_length_dict = count_list_elements(data, 'production_companies', 'original_title_length')

# из двух словарей делаем датафрейм и считаем среднее название
avg_df = pd.DataFrame([film_num_dict, title_length_dict]).T
avg_df.columns = ['film_num', 'title_length']
avg_df['avg_length'] = avg_df['title_length']/avg_df['film_num']
avg_df['avg_length'].idxmax()

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [54]:
answers['25'] = '3. Midnight Picture Show'  # +

In [55]:
# получаем словарь со списком студий и количеством фильмов (можно взять из прошлой задачи)
film_num_dict = count_list_elements(data, 'production_companies')
# получаем словарь со списком студий и общей длиной названий
words_num_dict = count_list_elements(data, 'production_companies', 'overview_words_num')

#  и считаем среднее название
avg_df = pd.DataFrame([film_num_dict, words_num_dict]).T
avg_df.columns = ['film_num', 'words_num']
avg_df['avg_word_num'] = avg_df['words_num']/avg_df['film_num']
avg_df['avg_word_num'].idxmax()

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [56]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'  # +

In [57]:
data[['original_title', 'vote_average']][
    data['vote_average'] > data['vote_average'].quantile(0.99)
    ].sort_values(by='vote_average', ascending=False)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [58]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'  # +

In [59]:
# создаем список, в котором будут храниться все кортежи актеров всех фильмов 
all_cast_tuples_list = []

for i in data.index:
    cast_list = []  # список, в котором хранится список всех актеров фильма
    for element in data['cast'].loc[i].split('|'):
        cast_list.append(element)
    # создаем список всех возможных пар актеров конкретного фильма
    cast_tuples = list(combinations(cast_list, 2))
    all_cast_tuples_list.append(cast_tuples)

# подсчитаем повторения кортежей
cast_tuples_dict = Counter(chain(*all_cast_tuples_list)) 
# print(cast_tuples_dict)

# выведем пары с максимальным количеством повторений
print(max(cast_tuples_dict, key=cast_tuples_dict.get))

('Daniel Radcliffe', 'Rupert Grint')

# Submission

In [60]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [61]:
# и убедиться что ничего не пропустил)
len(answers)

27